.hau-menu-button{
    -fx-background-color: transparent;

}
.hau-menu-button:hover{
    -fx-effect: dropshadow(three-pass-box, #5F50F1,10,0,0,0);
}
.hau-control-button{
    -fx-background-color: #fff;
    -fx-border-color:  #5F50F1;
    -fx-text-fill: #5F50F1;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-margin: 3px;
    -fx-font-weight: 700;
    -fx-cursor: hand;
}

.hau-control-button:hover{
    -fx-effect: dropshadow(three-pass-box, #fff,10,0,0,0);
}

#btnUp, #btnDown{
    -fx-border-color: transparent;
}

.hau-table-label{
    -fx-background-color: #5F50F1;
    -fx-text-fill: #fff;
    -fx-font-size: 20;
    -fx-font-weight: 800;
    -fx-max-width: 3000px;
    -fx-pref-height: 50px;
    -fx-alignment: center;
}

.hau-menu-label{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-font-size: 15;
    -fx-font-weight: 800;
    -fx-pref-height: 25px;
    -fx-pref-width: 100px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, #5F50F1,10,0,0,0);
}

.hau-container-color{
    -fx-background-color: linear-gradient(to right bottom, #0F2027,#203A43,#2C5364);
    -fx-opacity: 0.95;
}

.chart{
    -fx-border-color: #fff;
    -fx-background-color: linear-gradient(to right bottom, #0F2027,#203A43,#2C5364);
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.axis{
  -fx-tick-label-font-size: 13;
  -fx-tick-label-fill: white;
}

.chart-pie-label {
    -fx-fill: #fff;
    -fx-font-size: 13;
}